@model MotoGP.Models.Ticket

@{
    Layout = "~/views/shared/_Layout.cshtml";
    ViewData["Title"] = "Order Tickets";
    var countries = (IEnumerable<SelectListItem>)ViewData["Countries"];
    var races = (IEnumerable<SelectListItem>)ViewData["Races"];
}

<p>Please fill out following fields:</p>

<form asp-action="OrderTicket">

    <label asp-for="Name">@Html.DisplayNameFor(model => model.Name)</label>
    <input asp-for="Name" /> <br />

    <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
    <input asp-for="Email" />  <br />

    <label asp-for="Address">@Html.DisplayNameFor(model => model.Address)</label>
    <input asp-for="Address" />  <br />

    <label asp-for="CountryID">@Html.DisplayNameFor(model => model.Country)</label>
    <select asp-for="CountryID" asp-items="countries"></select>
    <br />

    <label asp-for="RaceID">@Html.DisplayNameFor(model => model.Race)</label>

    @foreach (var item in races)
    {

        @Html.RadioButtonFor(model => model.RaceID, item.Value ) @item.Text;
        <br />
    }

    <label asp-for="Number">@Html.DisplayNameFor(model => model.Number)</label>
    <input asp-for="Number" type="radio" value="1" /> 1
    <input asp-for="Number" type="radio" value="2" /> 2
    <input asp-for="Number" type="radio" value="3" /> 3
    <input asp-for="Number" type="radio" value="4" /> 4
    <input asp-for="Number" type="radio" value="5" /> 5
    <input asp-for="Number" type="radio" value="6" /> 6
    <br />

    <input type="submit" value="Order" />
</form>

<a asp-controller="Home" asp-action="Menu">back</a>